:host {
  --mh-card__size-space: var(--mh-space-m);

  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: var(--mh-border-radius);
  color-scheme: light;
}

[part='header'] {
  display: flex;
  flex-direction: column;
}

[part='header'],
[part='footer'] {
  gap: calc(var(--mh-card__size-space) / 2);
  padding: calc(var(--mh-card__size-space) / 2) var(--mh-card__size-space);
}

[part='body'] {
  display: block;
  padding: 0 var(--mh-card__size-space);
}

[name='header'],
[name='header-extras'],
[name='header-extras-start'],
[name='header-extras-end'],
[name='footer'],
[name='footer-start'],
[name='footer-end'] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--mh-card__size-space) / 2);
}

[name='header'],
[name='header-extras'],
[name='footer'] {
  justify-content: space-between;
}

[name='header-title']::slotted(*) {
  --mh-margin-slotted-heading: 0;
  --mh-font-size-slotted-heading: 1rem;

  margin: var(--mh-margin-slotted-heading);
  font-size: var(--mh-font-size-slotted-heading);
  font-weight: 700;
}
