:host {
  --mh-skeleton__color: var(--mh-color-primary-fill-quiet);
  --mh-skeleton__sheen-color: var(--mh-color-primary-fill-quieter);
  --mh-skeleton__border-radius: var(--mh-border-radius);
  --mh-skeleton__height: 1rem;
  --mh-skeleton__gap: var(--mh-space-s);

  display: flex;
  flex-direction: column;
  gap: var(--mh-skeleton__gap);
  width: 100%;
}

[part~='indicator'] {
  display: block;
  width: 100%;
  height: var(--mh-skeleton__height);
  border-radius: var(--mh-skeleton__border-radius);
  background: var(--mh-skeleton__color);
}
