:host([loudness='normal']) [part='button'] {
  color: var(--vitals-color-brand-type);
  background-color: var(--vitals-color-brand-fill-quieter);

  &:hover {
    color: var(--vitals-color-brand-type-quieter);
    background-color: var(--vitals-color-brand-fill);
  }

  &:active {
    color: var(--vitals-color-brand-type-quieter);
    background-color: var(--vitals-color-brand-fill-loud);
  }

  &:disabled {
    color: var(--vitals-color-neutral-type);
    background-color: var(--vitals-color-neutral-fill-quiet);
  }
}

:host([loudness='loud']) [part='button'] {
  color: var(--vitals-color-brand-type-quieter);
  background-color: var(--vitals-color-brand-fill);

  &:hover {
    background-color: var(--vitals-color-brand-fill-loud);
  }

  &:active {
    background-color: var(--vitals-color-brand-fill-louder);
  }

  &:disabled {
    background-color: var(--vitals-color-neutral-fill);
  }
}
