:host {
  --rotate-angle: 0deg;

  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

svg {
  overflow: visible;
  width: auto;
}

:host([rotate]) {
  transform: rotate(var(--rotate-angle, 0deg));
}
