:host {
  --mh-icon__rotate-angle: 0deg;

  box-sizing: content-box;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  transform: rotate(var(--mh-icon__rotate-angle, 0deg));
  transition: 200ms ease-out;
}

svg {
  overflow: visible;
  width: auto;
}
