@layer vitals-size {
  :where(:root) {
    --vitals-form-control-height-s: 2.375rem;
    --vitals-form-control-height-m: calc(3rem - 0.125rem);

    --vitals-border-radius: 0.375rem;

    --vitals-border-width-s: 0.0625rem;
    --vitals-border-width-m: 0.125rem;
    --vitals-border-width-l: 0.1875rem;

    --vitals-space-s: 0.5rem;
    --vitals-space-m: 1rem;
    --vitals-space-l: 2rem;
  }
}
