@layer mh-size {
  :where(:root) {
    --mh-form-control-height-s: 2.375rem;
    --mh-form-control-height-m: calc(3rem - 0.125rem);

    --mh-border-radius: 0.375rem;

    --mh-border-width-s: 0.0625rem;
    --mh-border-width-m: 0.125rem;
    --mh-border-width-l: 0.1875rem;

    --mh-space-xs: 0.25rem;
    --mh-space-s: 0.5rem;
    --mh-space-m: 1rem;
    --mh-space-l: 1.5rem;
    --mh-space-xl: 2rem;

    /* The minimum interactive target size (WCAG 2.5.5 Target Size (Enhanced), AAA). */
    --mh-target-size-min: 44px;
  }
}
