@layer mh-transition {
  :where(:root) {
    --mh-transition-slow: 300ms;
    --mh-transition-normal: 150ms;
    --mh-transition-fast: 75ms;
    --mh-transition-easing: ease;
  }

  @media (prefers-reduced-motion: reduce) {
    :where(:root) {
      --mh-transition-slow: 0ms;
      --mh-transition-normal: 0ms;
      --mh-transition-fast: 0ms;
    }
  }
}
