@import url('./theme/fonts.css');
@import url('./theme/color.css');
@import url('./theme/size.css');
@import url('./theme/transition.css');

:root {
  font-family: var(--mh-font-family);
  font-size: 16px;
  line-height: 22px;
  color: var(--mh-color-neutral-type-louder);
}
