@import './global/index.css';
@import './theme/fonts.css';
@import './theme/color.css';
@import './theme/size.css';
@import './theme/transition.css';
@import './theme/typography.css';

:root {
  font-family: var(--mh-font-family);
  font-size: 16px;
  line-height: 22px;
  color: var(--mh-color-neutral-type-louder);
}

a {
  color: var(--mh-color-brand-type);
}
