@layer vitals-color {
  :where(:root) {
    --vitals-color-danger-type-louder: #470600;
    --vitals-color-danger-type-loud: #8f0c00;
    --vitals-color-danger-type: #c41c0d;
    --vitals-color-danger-type-quieter: #ffffff;

    --vitals-color-danger-fill-louder: #470600;
    --vitals-color-danger-fill-loud: #8f0c00;
    --vitals-color-danger-fill: #c41c0d;
    --vitals-color-danger-fill-quiet: #ffdad6;
    --vitals-color-danger-fill-quieter: #fff6f5;

    --vitals-color-danger-border-louder: #470600;
    --vitals-color-danger-border-loud: #8f0c00;
    --vitals-color-danger-border: #c41c0d;
    --vitals-color-danger-border-quiet: #ffdad6;
    --vitals-color-danger-border-quieter: #ffeceb;
  }
}
