@layer vitals-color {
  :where(:root) {
    --vitals-color-neutral-type-louder: #0d0d0d;
    --vitals-color-neutral-type-loud: #5c5c5c;
    --vitals-color-neutral-type: #808080;
    --vitals-color-neutral-type-quieter: #ffffff;

    --vitals-color-neutral-fill-louder: #0d0d0d;
    --vitals-color-neutral-fill-loud: #696969;
    --vitals-color-neutral-fill: #808080;
    --vitals-color-neutral-fill-quiet: #ebebeb;
    --vitals-color-neutral-fill-quieter: #f5f5f5;

    --vitals-color-neutral-border-louder: #0d0d0d;
    --vitals-color-neutral-border-loud: #696969;
    --vitals-color-neutral-border: #808080;
    --vitals-color-neutral-border-quiet: #9c9c9c;
    --vitals-color-neutral-border-quieter: #d1d1d1;
  }
}
