:host([appearance='filled']) [part='base'] {
  color: var(--vitals-color-type-quieter);
  background-color: var(--vitals-color-fill);
  border-color: transparent;

  &:hover {
    background-color: var(--vitals-color-fill-loud);
  }

  &:active {
    background-color: var(--vitals-color-fill-louder);
  }

  &:disabled,
  :host([disabled]) & {
    color: var(--vitals-color-neutral-type);
    background-color: var(--vitals-color-neutral-fill-quiet);
  }
}

:host([appearance='outlined']) [part='base'] {
  color: var(--vitals-color-type);
  background-color: #ffffff; /* not an existing fill color */
  border-color: var(--vitals-color-border);

  &:hover {
    color: var(--vitals-color-type-loud);
    background-color: var(--vitals-color-border-quieter);
    border-color: var(--vitals-color-border-loud);
  }

  &:active {
    color: var(--vitals-color-type-louder);
    background-color: var(--vitals-color-fill-quiet);
    border-color: var(--vitals-color-fill-louder);
  }

  &:disabled,
  :host([disabled]) & {
    color: var(--vitals-color-neutral-type);
    background-color: inherit;
    border-color: var(--vitals-color-neutral-fill);
  }
}

:host([appearance='link']) [part='base'] {
  font-weight: 500;
  text-decoration: underline;
  color: var(--vitals-color-type);
  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: var(--vitals-color-type-loud);
  }

  &:active {
    color: var(--vitals-color-type-louder);
  }

  &:disabled,
  :host([disabled]) & {
    color: var(--vitals-color-neutral-type);
    border-color: transparent;
  }
}
