/**
 * :host([appearance='filled']) { }
 *
 * Appearance only changes colours, no shapes, so `filled` has no changes compared to base variant
 */

/*
 * - White surface with black text
 * - Icon is always medium variant colour (whereas in `filled` there are overrides)
 */
:host([appearance='outlined']) {
  --mh-callout__color-fill: var(--mh-color-neutral-type-quieter);
  --mh-callout__color-type: var(--mh-color-neutral-type-louder);
  --mh-callout__color-icon: var(--mh-color-type);
}

/* Need to override again specifically for outlined, otherwise the above rule takes over */
:host([appearance='outlined'][variant='neutral']) {
  --mh-callout__color-icon: var(--mh-color-danger-type);
}
