:host {
  display: table-cell;
  padding: var(--mh-space-m);
  font-size: var(--mh-font-size);
  color: var(--mh-color-neutral-type-louder);
  vertical-align: middle;
  border-bottom: 1px solid var(--mh-color-neutral-border-quieter);
}
