:host([loudness='normal']) {
  --mh-icon-button__color-type: var(--mh-color-brand-type);
  --mh-icon-button__color-type__hover: var(--mh-color-brand-type-quieter);
  --mh-icon-button__color-type__active: var(--mh-color-brand-type-quieter);
  --mh-icon-button__color-type__disabled: var(--mh-color-neutral-type);

  --mh-icon-button__color-fill: var(--mh-color-brand-fill-quieter);
  --mh-icon-button__color-fill__hover: var(--mh-color-brand-fill);
  --mh-icon-button__color-fill__active: var(--mh-color-brand-fill-loud);
  --mh-icon-button__color-fill__disabled: var(--mh-color-neutral-fill-quiet);
}

:host([loudness='loud']) {
  --mh-icon-button__color-type: var(--mh-color-brand-type-quieter);
  --mh-icon-button__color-type__hover: var(--mh-color-brand-type-quieter);
  --mh-icon-button__color-type__active: var(--mh-color-brand-type-quieter);
  --mh-icon-button__color-type__disabled: var(--mh-color-neutral-type-quieter);

  --mh-icon-button__color-fill: var(--mh-color-brand-fill);
  --mh-icon-button__color-fill__hover: var(--mh-color-brand-fill-loud);
  --mh-icon-button__color-fill__active: var(--mh-color-brand-fill-louder);
  --mh-icon-button__color-fill__disabled: var(--mh-color-neutral-fill);
}
