:host {
  --mh-icon-button__size: 2.5rem;

  display: inline-block;
}

[part='button'] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--mh-icon-button__size);
  height: var(--mh-icon-button__size);
  cursor: pointer;
  border: none;
  font-family: inherit;
  line-height: inherit;
  transition-property:
    background, border, box-shadow, color, opacity, transform;
  transition-duration: var(--mh-transition-normal);
  transition-timing-function: var(--mh-transition-easing);
  transform-origin: center;

  color: var(--mh-icon-button__color-type);
  background-color: var(--mh-icon-button__color-fill);

  &:hover {
    color: var(--mh-icon-button__color-type__hover);
    background-color: var(--mh-icon-button__color-fill__hover);
  }

  &:active {
    color: var(--mh-icon-button__color-type__active);
    background-color: var(--mh-icon-button__color-fill__active);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--mh-icon-button__color-type__disabled);
    background-color: var(--mh-icon-button__color-fill__disabled);
  }
}
