h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--mh-margin-slotted-heading, revert);
  font-weight: var(--mh-font-weight-slotted-heading, 700);
  line-height: normal;
  letter-spacing: 0;
}

/**
 * If any component wants to explicitly change the `font-size` of a slotted heading element,
 * it can do so by setting the `--mh-font-size-slotted-heading` variable.
 * This value will then take precedence over the default heading's font size.
 */

h1 {
  font-size: var(--mh-font-size-slotted-heading, var(--mh-font-size-xxxl));
}

h2 {
  font-size: var(--mh-font-size-slotted-heading, var(--mh-font-size-xxl));
}

h3 {
  font-size: var(--mh-font-size-slotted-heading, var(--mh-font-size-xl));
}

h4 {
  font-size: var(--mh-font-size-slotted-heading, var(--mh-font-size-l));
}

h5 {
  font-size: var(--mh-font-size-slotted-heading, var(--mh-font-size));
}

h6 {
  font-size: var(--mh-font-size-slotted-heading, var(--mh-font-size-s));
}
