:host {
  --color: var(--mh-color-neutral-border);
  --width: var(--mh-border-width-s);
  --spacing: var(--mh-space-m);
}

:host([loudness='louder']) {
  --color: var(--mh-color-neutral-border-louder);
}

:host([loudness='loud']) {
  --color: var(--mh-color-neutral-border-loud);
}

:host([loudness='quiet']) {
  --color: var(--mh-color-neutral-border-quiet);
}

:host([loudness='quieter']) {
  --color: var(--mh-color-neutral-border-quieter);
}

:host(:not([orientation='vertical'])) {
  display: block;
  border-top: solid var(--width) var(--color);
  margin: var(--spacing) 0;
}

:host([orientation='vertical']) {
  display: inline-block;
  height: 100%;
  border-inline-start: solid var(--width) var(--color);
  margin: 0 var(--spacing);
  min-block-size: 1lh;
}
