:host {
  --spacing: var(--vitals-space-m);

  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: var(--vitals-border-radius);
}

[part='header'] {
  display: flex;
  flex-direction: column;
}

[part='header'],
[part='footer'] {
  gap: calc(var(--spacing) / 2);
  padding: calc(var(--spacing) / 2) var(--spacing);
}

[part='body'] {
  display: block;
  padding: 0 var(--spacing);
}

[name='header'],
[name='header-extras'],
[name='header-extras-start'],
[name='header-extras-end'],
[name='footer'],
[name='footer-start'],
[name='footer-end'] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--spacing) / 2);
}

[name='header'],
[name='header-extras'],
[name='footer'] {
  justify-content: space-between;
}

[name='header-title']::slotted(*) {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}
